@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.header{
    background-color: white;;
    height: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px red solid;
}
.header_title{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #d70924;
    text-align: center;
    padding-top: 40px;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
.header_nav{
    text-align: center;
    color: red;
    padding-top: 10px;
    font-size: .80rem;
    word-spacing: 5px;
}
.header_nav a{
    color: #d70924;
    text-decoration: none;
}






#home_welcome{
    background-color: #d6001c;
    height: 333px;
    text-align: center;
    font-size: 3em;
    padding-top: 80px;
    color: white;
    font-family: 'Oswald', sans-serif;
}


#home_promotional{
    height: auto;
    background-image: url(img/Promotional.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
#home_promotional img{
    width: 100%;
    visibility: hidden;
}


#home_about{
    background-color: #d6001c;
    height: 430px;
}
#home_about_text{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    padding-top: 100px;
}
#home_about_text h2{
    padding-top: 20px;
    font-size: 1.5rem;
}
#home_about_text p{
    width: 70%;
    font-size: 1rem;
    padding-top: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


#home_products{
    height: auto;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 80px;
    color: #d6001c;
    padding-bottom: 100px;
}


#home_flavours{
    padding-top: 50px;
}
#flavour_list h2{
    padding-bottom: 30px;
    padding-top: 30px;
}


#home_contact{
    padding-top: 100px;
    height: 375px;
    background-color: #d6001c;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
#home_contact p{
    padding-top: 10px;
    font-size: .8rem;
}



#about{
    background-color: #d6001c;
    height: auto;
    text-align: center;
    color: white;
    padding-top: 75px;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 50px;
}
#about_text{
    padding-top: 50px;
}
#about_text p{
    padding-top: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: .85rem;
}



#nukaworld{
    background-color: #d6001c;
    height: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#nukaworld_about{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}






.bottom_banner{
    height: 75px;
    text-align: center;
    color: #d6001c;
}
.bottom_banner p{
    padding-top: 30px;
    font-size: 0.75rem;
}


/* xs devices */
.header { background-color: white }
#home_welcome{ font-size: 2rem; }
#bottles{ visibility: hidden;}
            
/* sm devices */
@media (min-width: 576px) {
    .header { background-color: white }
    #home_welcome{ font-size: 3rem; }
}
/* md devices */
@media (min-width: 768px) {
    .header { background-color: white }
    #bottles{ visibility: visible;}
}
/* lg devices */
@media (min-width: 992px) {
    .header { background-color: white }
}
/* xl devices */
@media (min-width: 1200px) {
    .header { background-color: white }






